@import url("https://fonts.googleapis.com/css2?family=Alata&family=DM+Sans:wght@400;700&family=Fugaz+One&family=Lobster&family=Poppins:wght@300;400;500&family=Roboto:wght@300&family=Space+Grotesk:wght@500&family=Volkhov:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Alata&family=DM+Sans:wght@400;700&family=Fugaz+One&family=Josefin+Sans:wght@300&family=Lobster&family=Poppins:wght@300;400;500&family=Roboto:wght@300&family=Space+Grotesk:wght@500&family=Volkhov:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
  font-family: "Josefin Sans", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #fff;
}

li,
button {
  font-family: "Alata", sans-serif;
}
